*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

.signup_inner {
    background: white;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup_main {
    background: none;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.sOverly {
    display: none;
}

.input_div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-top: 18px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.input_div .name {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #111111; /* Change to dark color for visibility */
}

.input_div i {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5); /* Change to dark color */
}

.logo {
    margin-top: -10px;
}

.signup_title {
    font-size: 2rem;
    font-weight: 700;
    color: #111111; /* Change to dark color */
    margin: 20px auto;
    letter-spacing: 1px;
}

.backtologin {
    padding: 40px;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Change border color */
}

.back {
    text-decoration: none;
    background: #31dc89;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 12px 30px;
    border-radius: 50px;
    color: #ffffff; /* Change to dark color */
    font-size: 1rem;
    font-weight: 600;
    transition: .4s; /* Change border color */
    letter-spacing: 1px;
}

.back:hover {
    background: #111111;
    color: #ffffff;
    border: none;
}

.signup_content {
    padding: 50px;
    text-align: center;
}

.signup_send {
    background: #31dc89;
    border: 1px solid #31dc89;
    outline: none;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: .4s;
    cursor: pointer;
}

.signup_send:hover {
    background: #111111;
    border: none;
}

.main_logo {
    width: 180px;
}

.forgot_pass {
    font-size: 1.2rem;
    font-weight: 600;
    color: #111111; /* Change to dark color */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    transition: .4s;
    letter-spacing: 1px;
}

.forgot_pass:hover {
    color: #31dc89;
    text-decoration: none;
}


@media (max-width: 480px){
    .signup_main{
        padding: 30px 20px;
    }
}